{template 'common/header'}

<html>

<nav class="navbar navbar-default navbar-fixed-bottom" style="width:50%">
  <div class="container-fluid" style="width:60%">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav"  >
        <li><a href="{php echo $this->createMobileUrl('ptjindex');}">兼职广场</a></li>  
      </ul>
  </div><!-- /.container-fluid -->
  
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom" style="margin-left:50%">
  <div class="container-fluid" style="width:60%">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><a href="{php echo $this->createMobileUrl('ptjmyinfo');}">个人中心</a></li>  
      </ul>
  </div><!-- /.container-fluid --> 
</nav>

<nav class="navbar navbar-default navbar-fixed-top" style="background:orange">
   <div class="container-fluid">
      <ul class="nav navbar-nav" style="text-align:center">
        <h4 class="text-primary">老司机兼职平台</h4>  
      </ul>        
  </div>
</nav>
<br/>
<br/>
<!--information  -->
<div class="jumbotron">
 <p style="font-size:5px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职位提供方:</p>
 <p style="font-size:5px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职位名称:</p>
 <p style="font-size:5px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职位详细描述:</p>
  <p style="font-size:5px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单位联系电话:</p>
  <p style="font-size:5px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单位地址:</p>
  <p style="font-size:5px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薪水:</p>
</div>

<div class="btn-group btn-group-justified" role="group" aria-label="报名" style="margin-top:-20px">
  <div class="btn-group " role="group">
    <button type="button" class="btn btn-default btn btn-success">我要报名</button>
  </div>
  <div class="btn-group danger" role="group">
    <button type="button" class="btn btn-default btn btn-danger">我要举报</button>
  </div>
</div>



<!-- 分割   评论 -->
<nav class="navbar navbar-default" >
<div  class="container-fluid" style="margin-top:40px;">
<h5 style="margin-left:5%"><mark>评论区</mark></h5>
</div>
</nav>
<div class="list-group" style="margin-top:-5%">
  <a href="#" class="list-group-item active" >
    <p class="list-group-item-text">Main infomation</p>
    </a>
</div>
<div class="list-group" style="margin-top:-5%">
  <a href="#" class="list-group-item active" >
    <p class="list-group-item-text">Main infomation</p>
    </a>
</div>
<div class="list-group" style="margin-top:-5%">
  <a href="#" class="list-group-item active" >
    <p class="list-group-item-text">Main infomation</p>
    </a>
</div>
<div class="list-group" style="margin-top:-5%">
  <a href="#" class="list-group-item active" >
    <p class="list-group-item-text">Main infomation</p>
    </a>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>

</html>