{template 'common/header'}
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.js"></script>

<html>

<nav class="navbar navbar-default navbar-fixed-bottom" style="width:50%">
  <div class="container-fluid" style="width:60%">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav"  >
        <li><a href="{php echo $this->createMobileUrl('ptjindex');}">兼职广场</a></li>  
      </ul>
  </div><!-- /.container-fluid -->
  
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom" style="margin-left:50%">
  <div class="container-fluid" style="width:60%">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><a href="{php echo $this->createMobileUrl('ptjmyinfo');}">个人中心</a></li>  
      </ul>
  </div><!-- /.container-fluid --> 
</nav>

<nav class="navbar navbar-default navbar-fixed-top" style="background:orange">
   <div class="container-fluid">
      <ul class="nav navbar-nav" style="text-align:center">
        <h4 class="text-primary">老司机兼职平台</h4>  
      </ul>        
  </div>
</nav>
<br/>
<br/>
<!--information  -->
<div class="jumbotron">
 <p style="font-size:5px"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职位提供方:{$Ownerinfo['name']}</p>
 <p style="font-size:5px"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职位名称:{$ground['title']}</p>
 <p style="font-size:5px"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职位详细描述:{$ground['content']}</p>
  <p style="font-size:5px"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单位联系电话:{$Ownerinfo['phone']}</p>
  <p style="font-size:5px"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单位地址:{$Ownerinfo['location']}</p>
  <p style="font-size:5px"><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薪水/天:{$ground['salary']}</p>
</div>

<div class="btn-group btn-group-justified" role="group" aria-label="报名" style="margin-top:-20px">

  <div class="btn-group " role="group">
    <a type="button"  href="{php echo $this->createMobileUrl('Ptjdetails',array('button'=>'on','ground'=>$ground,'openid'=>$openid));}" class="btn btn-default btn btn-success" >我要报名</a>
  </div>



  










  <div class="btn-group danger" role="group">
    <a type="button" class="btn btn-default btn btn-danger" data-toggle="modal" data-target="#jbmodal">我要举报</a>
  </div>
  <div class="modal fade" id="jbmodal" tabindex="-1" role="dialog" aria-labelledby="jbmodalLabel" style="margin-top:200px">
  <div class="modal-dialog jbmodal">
    <div class="modal-title">
     <h3 class="text-danger" style="text-align:center ;">举&nbsp;报&nbsp;结&nbsp;果</h3>
     <br/>
     </div>
    <div class="modal-content">
     <h3 class="text-danger" style="text-align:center ; ">O(∩_∩)O 举报成功啦!<br/><br/>我们会处理你的请求哒~~</h3>
     <br/>
     <br/>
     <br/>
    </div>
  </div>
</div>
</div>



<!-- 分割   评论 -->
<nav class="navbar navbar-default" >
<div  class="container-fluid" style="margin-top:40px;">
<h5 style="margin-left:5%"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;&nbsp;<mark>评论区</mark></h5>
</div>
</nav>
<div class="list-group" style="margin-top:-5%">
  <a href="#" class="list-group-item active" >
    <p class="list-group-item-text">Main infomation</p>
    </a>
</div>
<div class="list-group" style="margin-top:-5%">
  <a href="#" class="list-group-item active" >
    <p class="list-group-item-text">Main infomation</p>
    </a>
</div>
<div class="list-group" style="margin-top:-5%">
  <a href="#" class="list-group-item active" >
    <p class="list-group-item-text">Main infomation</p>
    </a>
</div>
<div class="list-group" style="margin-top:-5%">
  <a href="#" class="list-group-item active" >
    <p class="list-group-item-text">Main infomation</p>
    </a>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<script>
require(['jquery', 'util'], function($, util){
	$(function(){
		$('#flag').click(function(){
			$.post("{php echo $this->createMobileUrl('Ptjdetails');}",{button:'on'},function(){
				alert("回调成功");
			});
		}
		);	

	});
});
</script>



</html>