{template 'common/header'}
<html>
    <link href="http://libs.baidu.com//bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   
   
       {if !$searchinfo}
<nav class="navbar navbar-default navbar-fixed-bottom" style="width:50%">
  <div class="container-fluid" style="width:60%">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="nav navbar-nav"  >
        <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> <span class="sr-only"></span>兼职广场</a></li>  
      </ul>
  </div><!-- /.container-fluid -->
  
</nav>
{else}
<nav class="navbar navbar-default navbar-fixed-bottom" style="width:50%">
  <div class="container-fluid" style="width:60%">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="nav navbar-nav"  >
        <li><a href="{php echo $this->createMobileUrl('ptjindex');}"><span class="glyphicon glyphicon-home"></span>兼职广场</a></li>  
      </ul>
  </div><!-- /.container-fluid -->
  
</nav>
{/if}
<nav class="navbar navbar-default navbar-fixed-bottom" style="margin-left:50%">
  <div class="container-fluid" style="width:60%">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><a href="{php echo $this->createMobileUrl('ptjmyinfo');}"><span class="glyphicon glyphicon-user"></span>个人中心</a></li>  
      </ul>
  </div><!-- /.container-fluid --> 
</nav>

<nav class="navbar navbar-default" >
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
    <span class="input-group-addon" style="background:orange; width:20%"><mark>老司机兼职平台</mark></span>
    <form action=" " method="post" class="form-horizontal" >
      <input type="text" class="form-control" placeholder="找点事做呗..." style="width:75%" name="Ptjindex[Search]">
      <span class="input-group-btn">
			<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </span>
      </form>
    </div>
  </div>
</div>
</nav>

<nav class="navbar navbar-default" style="margin-top:-7%">
   <div class="container-fluid">

      <ul class="nav nav-pills">
  <li role="presentation"><a href="{php echo $this->createMobileUrl('ptjindex',array('salarybtn'=>'on'));}"><span class="glyphicon glyphicon-hand-down"></span>&nbsp;&nbsp;&nbsp;薪资排序</a></li>
  <li role="presentation"><a href="{php echo $this->createMobileUrl('ptjindex',array('timebtn'=>'on'));}"><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;&nbsp;时长排序</a></li>
  <li role="presentation"><a href="{php echo $this->createMobileUrl('ptjindex',array('ownerbtn'=>'on'));}"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;&nbsp;商家排序</a></li>
      </ul>
            
  </div>
</nav>
{if $searchinfo}
{loop $searchinfo $key $value}
<div class="list-group">
  <a href="{php echo $this->createMobileUrl('ptjdetails',array('ground'=>$value,'openid'=>$openid));}" class="list-group-item active">
    <h4 class="list-group-item-heading">{$value['title']}</h4>
        <!-- span class="badge">浏览量:0</span-->
         <span class="badge" style="">报名人数/总人数:{$value['exists']}/{$value['mount']}</span>
    <p class="list-group-item-text">{$value['content']}</p>
<p class="list-group-item-text"><span class="glyphicon glyphicon-usd"></span>&nbsp;  &nbsp;工资/天:{$value['salary']}&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;  &nbsp;截至:{php echo ($value['date']);}</p>
  </a>
</div> 
{/loop}
{else}
{loop $ground $k $v}
<div class="list-group">
  <a href="{php echo $this->createMobileUrl('ptjdetails',array('ground'=>$v,'openid'=>$openid));}" class="list-group-item active">
    <h4 class="list-group-item-heading">{$v['title']}</h4>
        <!-- span class="badge">浏览量:2</span-->
         <span class="badge" style="font-size:15px">报名人数/总人数:{$v['exists']}/{$v['mount']}</span>
    <p class="list-group-item-text">{$v['content']}</p>
    <br/>
<p class="list-group-item-text"><span class="glyphicon glyphicon-usd"></span>&nbsp;  &nbsp;工资/天:{$v['salary']}&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;  &nbsp;截至:{php echo ($v['date']);}</p>
  </a>
</div> 
{/loop}

{/if}
<br/>
<br/>
<br/>
<script>
require(['jquery', 'util'], function($, util){
	$(function(){
		$('#searchbtn').click(function(){
			$.post("{php echo $this->createMobileUrl('Ptjindex');}",{searchinfo:$("#searchsth").val()},function(data,status){
				alert(data);
			});
		}
		);	

	});
});
</script>


</html>
