{template 'common/header'}
<link rel="stylesheet" href="./weui/dist/style/weui.min.css"/>
<script type="text/javascript">
    sharedata = {
        title: "{$share['topic_title']}",
        desc: "{$share['topic_desc']}",
        imgUrl: "{$share['topic_imgurl']}",
        link:'',
        success: function(){
          alert('分享成功!');
        }
      };
</script>
<html>
<body style="background-color:#ededed">
{if $user}
<nav class="navbar navbar-default navbar-fixed-bottom" style="background:#00b26d">
	<div class="weui_tabbar">
{if $collection['watching']==='0' || !$collection}	
        <div class="weui_tabbar_item " id="tag">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;收藏</p>
        </div>
        <div class="weui_tabbar_item " id="taged" style="display:none">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;取消收藏</p>
        </div>
{else if $collection['watching']==='1'}        
        <div class="weui_tabbar_item " id="tag"style="display:none" >
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;收藏</p>
        </div>
        <div class="weui_tabbar_item " id="taged">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;取消收藏</p>
        </div>
		
{/if}
         <!--div  class="weui_tabbar_item" id="contact">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;问问ta</p>
        </div-->

{if $isworker==3  AND !$commitFlag}
  	{if !$ifprivacy}
         <div  class="weui_tabbar_item " id="top">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-hand-up"></span>&nbsp;&nbsp;置顶</p>
        </div> 
         <div  class="weui_tabbar_item " id="toped" style="display:none">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;已置顶</p>
        </div>         
     {/if}
{else if $isworker==4}
         <div  class="weui_tabbar_item " >
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;&nbsp;小黑屋中~</p>
        </div> 
{else if !$commitFlag}
        <div  class="weui_tabbar_item " id="checkin">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-play"></span>&nbsp;&nbsp;立即报名</p>
        </div>  
        <div  class="weui_tabbar_item " id="waiting" style="display:none">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;处理中..</p>
        </div>
        <div  class="weui_tabbar_item " id="admit" style="display:none">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;报名成功</p>
        </div>  
{else if $commitFlag==1}
        <div  class="weui_tabbar_item " >
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;处理中..</p>
        </div>
{else if $commitFlag==2}    
        <div  class="weui_tabbar_item ">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;报名成功</p>
        </div>                          
{/if}

	</div>
</nav>
{/if}
<div style="background:white;margin-bottom:5px">
<br/>
<div style="margin-top:-20px;border-style:solid; border-width:1px; border-color:#D3D3D2">

<div id="user_detail"  style="font-size:15px;color:black" type="button" class="btn-lg btn-block" style="margin-top:-10px">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{$name} </div>

</div>
</div>
<!--information  -->
<div class="jumbotron" style="background-color:#fff;margin-bottom:10px">
 <p style="font-size:15px">标题:&nbsp;&nbsp;{$ground['title']}</p>
  {if $isworker==1 && $commitFlag==2||$commitFlag==1}
 	 <p style="font-size:15px" id="s_phone">【新增】联系电话:{$ground['phone']}</p>
 	  	 <p style="font-size:15px;display:none" id="h_phone"  >联系电话:&nbsp;&nbsp;<b>报名后可见</b></p>
  {else}
   	 <p style="font-size:15px;display:none" id="s_phone" >【新增】联系电话:{$ground['phone']}</p>
		 <p style="font-size:15px" id="h_phone">联系电话:&nbsp;&nbsp;<b>报名后可见</b></p>  
  {/if}
 <p style="font-size:15px">具体内容:&nbsp;&nbsp;{$ground['content']}</p>

  <p style="font-size:15px">状态:</p>
  {if !$commitFlag}  
    <div style="font-size:15px"><span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;发布&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"style="color:red" ></span><span class="glyphicon glyphicon-remove-sign" style="color:red"></span>&nbsp;&nbsp;&nbsp;未加入&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:red"></span><span class="glyphicon glyphicon-remove-sign" style="color:red"></span>&nbsp;&nbsp;&nbsp;未确认</div>
    {/if}  
  {if $commitFlag==1}
  <div style="font-size:15px"><span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;发布&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:#00dd00"></span><span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;已加入&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:red"></span><span class="glyphicon glyphicon-remove-sign" style="color:red"></span>&nbsp;&nbsp;&nbsp;未确认</div>
  {/if}
  {if $commitFlag==2}
    <div style="font-size:15px" ><span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;发布&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;已加入&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;已确认</div>
   {/if}
</div>
{if $ground['pic1'] || $ground['pic2'] || $ground['pic3']}
<div  >
<p style="font-size:18px">图片预览</p>
{if $ground['pic1']}
<img src="{$ground['pic1']}" alt="" style=" width:100%">
<br/>
{/if}
<br/>
{if $ground['pic2']}
<img src="{$ground['pic2']}" alt="" style="width:100%">
<br/>
{/if}
<br/>
{if $ground['pic3']}
<img src="{$ground['pic3']}" alt="" style="width:100%">

{/if}
</div>
{/if}


{if $isworker==3  AND !$commitFlag}
<div class="btn-group btn-group-justified" role="group" aria-label="报名" style="margin-top:20px;height: 60px;">

  <div class="btn-group " role="group" style="background-color:#fff">
    <div style="border-style:solid; border-width:1px;border-color:#D3D3D2 ">

    <a type="button" href="{php echo $this->createMobileUrl('ptjworkerinfo',array('jobid'=>$ground['jobid'],'exists'=>$exists));}" class="btn btn-default">报名者清单<span class="glyphicon glyphicon-chevron-right" style="margin-left:65%"></span></a>
    </div>
  </div>
</div>

{/if}





<br/>
<br/>
<br/>
<br/>
<br/>

</body>

<script type="text/javascript">

require(['jquery'],function($){
	$("#tag").click(function(){
		$("#tag").hide();
		$.ajax({
			url:"{php echo $this->createMobileUrl('Ptjdetails');}",
			method:"POST",
			data:{
				jobid:'{$jobid}',
				cbutton:'collect',
			},
		})		
		.done(function(data){
			var obj=jQuery.parseJSON(data);
			console.log(obj);
			if(obj.message==='success_collected'){
				$("#taged").show();				
				alert('收藏成功lo~');
			}else if(obj.message==='fail_collected'){
				$("#tag").show();				
				alert('收藏被干扰了 等会再试咯~');
			}
		});

	});
	$("#taged").click(function(){
		$("#taged").hide();
		$.ajax({
			url:"{php echo $this->createMobileUrl('ptjdetails');}",
			method:"POST",
			dataType:"html",
			data:{
				jobid:'{$jobid}',
				cbutton:'uncollect',
			}
		})
		.done(function(data){
			var obj=jQuery.parseJSON(data);
			if(obj.message==='success_uncollect'){
				alert('对嘛  不好的就不要嘛~');
				$("#tag").show();				
			}
		});

		
	});
	$("#oback").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjmodel',array('id'=>'owner'));}";
	});
	$("#back").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjindex');}";
	});
	$("#checkin").click(function(){
		$.ajax({
			url:"{php echo $this->createMobileUrl('Ptjdetails');}",
			method:"POST",		
			data:{
				button:'on',
				jobid:'{$jobid}',
				openid:'{$openid}'
			},

		})
		.done(function(data){
			var obj=jQuery.parseJSON(data);
			if(obj.message==='checkin_success'){
				$("#checkin").hide();
				$("#waiting").show();
				$("#h_phone").hide();
				$("#s_phone").show();
				$.ajax({
					url:"{php echo $this->createMobileUrl('Ptjdetails');}",
					method:"POST",
					data:{
					  sendTPL:'on',
					  jobid:'{$jobid}',
					  openid:'{$openid}'
					}
				});				
				alert('报名成功了~~~~~');				
			}else if(obj.message==='checkin_fail_1'){
				//1表示商家模式
				alert('商家不能参与报名哦~');
			}else if(obj.message==='checkin_fail_2'){
				//2表示游客模式
				alert('请切换模式哦~');
			}else{
				alert('模板消息发送失败');
			}
		});

	//	window.location.href=;
	});
	$("#top").click(function(){

		$.ajax({
			url:"{php echo $this->createMobileUrl('ptjdetails');}",
			method:"POST",	
			data:{
				top:'on',
				jobid:'{$jobid}',
			},
		})
		
		.done(function(data){
			var obj= jQuery.parseJSON(data);
			if(obj.message==='fail'){				
				alert('积分不够了,充值了再来呗~');
			}else if(obj.message==='full'){
				alert('置顶栏被占满了哦~  下次早点来呗~');
			}else if(obj.message==='success'){
				$("#top").hide();
				alert('耶~置顶完成了~');
				$("#toped").show();
			}	
		});

	});
	
	$("#user_detail").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjworkerindex',array('ground'=>$ground,'entry'=>'details'));}";
	});
});

</script>

</html>
{template 'common/footer'}