{template 'common/header'}
<link rel="stylesheet" href="./weui/dist/style/weui.min.css"/>
<script type="text/javascript">
    sharedata = {
        title: "{$share['topic_title']}",
        desc: "{$share['topic_desc']}",
        imgUrl: "{$share['topic_imgurl']}",
        link:'',
        success: function(){
          alert('分享成功!');
        }
      };
</script>
<html>
<body style="background-color:#ededed">
<nav class="navbar navbar-default navbar-fixed-bottom" style="background:#00b26d">
	<div class="weui_tabbar">
        <div class="weui_tabbar_item " id="untag">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;收藏</p>
        </div>
        <div class="weui_tabbar_item " id="taged" style="display:none">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;取消收藏</p>
        </div>
         <div  class="weui_tabbar_item" id="contact">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;问问ta</p>
        </div> 	

         <div  class="weui_tabbar_item " id="action">
            <p class="weui_tabbar_label" style="font-size:20px;margin-top:10px"><span class="glyphicon glyphicon-play"></span>&nbsp;&nbsp;立即报名</p>
        </div> 
	</div>
</nav>
{if $flag==2}
<nav class="navbar navbar-default navbar-fixed-top" style="background:#00b26d">
   <div class="container-fluid">
   <div style="width:30%;margin-top:10px">
    <div  id="oback"  style="color:white;font-size:20px"><span class="glyphicon glyphicon-chevron-left"></span><b>&nbsp;返回</b></div>
    </div> 
    <div style="margin-top:-36px">   
      <ul class="nav navbar-nav" style="text-align:center">
        <p style="font-size:20px;color:white">详情</p> 
      </ul>
      </div>    
  </div>
</nav>
<br/>
<br/>
{else}
<nav class="navbar navbar-default navbar-fixed-top" style="background:#00b26d">
   <div class="container-fluid">
   <div style="width:30%;margin-top:10px">
    <div  id="back"  style="color:white;font-size:20px"><span class="glyphicon glyphicon-chevron-left"></span><b>&nbsp;返回</b></div>
    </div> 
    <div style="margin-top:-36px">   
      <ul class="nav navbar-nav" style="text-align:center">
        <p style="font-size:20px;color:white">详情</p> 
      </ul>
      </div>    
  </div>
</nav>
<br/>
<br/>
{/if}
<div style="background:white;;margin-top: 30px;margin-bottom:5px">
<br/>
<div style="margin-top:-20px;border-style:solid; border-width:1px; border-color:#D3D3D2">
{if $Ownerinfo['cname']}
<a href="{php echo $this->createMobileUrl('ptjownerindex',array('ground'=>$ground));}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block" style="margin-top:-10px">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{$name} </a>
{else}
<a href="{php echo $this->createMobileUrl('ptjworkerindex',array('ground'=>$ground,'wopenid'=>$oid,'entry'=>'details'));}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block" style="margin-top:-10px">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{$name} </a>
{/if}
</div>
</div>
<!--information  -->
<div class="jumbotron" style="background-color:#fff;margin-bottom:10px">
 <p style="font-size:15px">标题:&nbsp;&nbsp;{$ground['title']}</p>
  {if $isworker==1 && $commitFlag==2||$commitFlag==1}
 	 <p style="font-size:15px" ><span class="glyphicon glyphicon-phone" style="color:red"></span>&nbsp;&nbsp;&nbsp;&nbsp;【新增】联系电话:{$ground['phone']}</p>
  {else}
		 <p style="font-size:15px" >联系电话:&nbsp;&nbsp;<b>此栏于报名后揭晓</b></p>  
  {/if}
 <p style="font-size:15px">具体内容:&nbsp;&nbsp;{$ground['content']}</p>

  <p style="font-size:15px">状态:</p>
  {if !$commitFlag}  
    <div style="font-size:15px"><span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;发布&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"style="color:red" ></span><span class="glyphicon glyphicon-remove-sign" style="color:red"></span>&nbsp;&nbsp;&nbsp;未加入&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:red"></span><span class="glyphicon glyphicon-remove-sign" style="color:red"></span>&nbsp;&nbsp;&nbsp;未确认</div>
    {/if}  
  {if $commitFlag==1}
  <div style="font-size:15px"><span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;发布&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:#00dd00"></span><span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;已加入&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:red"></span><span class="glyphicon glyphicon-remove-sign" style="color:red"></span>&nbsp;&nbsp;&nbsp;未确认</div>
  {/if}
  {if $commitFlag==2}
    <div style="font-size:15px" ><span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;发布&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;已加入&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;已确认</div>
   {/if}
</div>
{if $ground['pic1'] || $ground['pic2'] || $ground['pic3']}
<div  >
<p style="font-size:18px">图片预览</p>
{if $ground['pic1']}
<img src="{$ground['pic1']}" alt="" style="height:200px ;width:100%">
{/if}
<br/>
{if $ground['pic2']}
<img src="{$ground['pic2']}" alt="" style="height:200px ;width:100%">
{/if}
<br/>
{if $ground['pic3']}
<img src="{$ground['pic3']}" alt="" style="height:200px ;width:100%">
{/if}
</div>
{/if}
{if $isworker==1 AND !$commitFlag}
<div class="btn-group btn-group-justified" role="group" aria-label="报名" style="margin-top:20px;height: 60px;">

  <div class="btn-group " role="group" style="background-color:#fff">
    <div style="border-style:solid; border-width:1px;border-color:#D3D3D2">
    <a type="button"  href="{php echo $this->createMobileUrl('Ptjdetails',array('button'=>'on','ground'=>$ground,'openid'=>$openid));}" class="btn btn-default text-center" >
       我要报名
    </a>
    </div>
  </div>
</div>
{else if $isworker==3}
<div class="btn-group btn-group-justified" role="group" aria-label="报名" style="margin-top:20px;height: 60px;">

  <div class="btn-group " role="group" style="background-color:#fff">
    <div style="border-style:solid; border-width:1px;border-color:#D3D3D2 ">

    <a type="button" href="{php echo $this->createMobileUrl('ptjworkerinfo',array('ground'=>$ground,'exists'=>$exists));}" class="btn btn-default">查看求职者信息<span class="glyphicon glyphicon-chevron-right" style="margin-left:65%"></span></a>
    </div>
  </div>

</div>
  {if !$ifprivacy}
<div style="margin-top:20px">
<a href="{php echo $this->createMobileUrl('ptjdetails',array('top'=>'on','ground'=>$ground));}" type="button" class="btn btn-success text-center" style="width:100%">我要置顶</a>
</div>
{/if}
{else if $isworker==2}


{else if $isworker==4}
<div style="margin-top:20px">
<a href="#" type="button" class="btn btn-danger text-center" style="width:100%">对不起,您的账户已被小黑屋~~请与管理员联系.</a>
</div>
{/if}

 {if !$user}
 <div class="btn-group btn-group-justified" role="group" aria-label="报名" style="margin-top:20px;height: 60px;">
  <div class="btn-group " role="group" style="background-color:#fff">
    <div style="border-style:solid; border-width:1px;border-color:#D3D3D2">
    <a type="button"  onclick="alert('先去完善信息咯,右下个人中心->完善信息,好走,不谢~~~~~')" class="btn btn-default text-center" >
       我要报名
    </a>
    </div>
  </div>
</div>
 {/if}




<br/>
<br/>
<br/>
<br/>
<br/>

</body>

<script>
require(['jquery'],function($){
	$("#untag").click(function(){
		$("#untag").hide();
		$("#taged").show();
	});
	$("#taged").click(function(){
		$("#taged").hide();
		$("#untag").show();
		
	});

	$("#oback").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjmodel',array('id'=>'owner'));}";
	});
	$("#back").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjindex');}";
	});
});
</script>

</html>
{template 'common/footer'}