{template 'common/header'}
<html>

<link rel="stylesheet" href="./weui/dist/style/weui.min.css"/>
<script type="text/javascript">
    sharedata = {
        title: "{$share['mainpage_title']}",
        desc: "{$share['mainpage_desc']}",
        imgUrl: "{$share['mainpage_imgurl']}",
        link:'http://www.wx7plus.com/index.php?i=1&c=entry&do=ptjindex&m=hypernet_iptj',
        success: function(){
          alert('分享成功!');
        }
      };
</script>

 <body style="background:#ededed">  
 
 <div id="actionSheet_wrap" >
    <div class="weui_mask_transition" id="mask"></div>
    <div class="weui_actionsheet" id="weui_actionsheet">
        <div class="weui_actionsheet_menu">
        {loop $modelres $k $v}
            <div class="weui_actionsheet_cell" rel="{$v['typecode']}">{$v['typename']}</div>
		{/loop}
        </div>
        <div class="weui_actionsheet_action">
            <div class="weui_actionsheet_cell" id="actionsheet_cancel">取消</div>
        </div>
    </div>
</div>
 
 
 
 <nav class="navbar navbar-default navbar-fixed-bottom" style="background:#00b26d" id="btmnav">
  <div class="weui_tabbar" id="tabbar">
{if !$searchinfo}
        <div  class="weui_tabbar_item weui_bar_item_on" >
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_tabbar_label">首页</p>
        </div>       
 
	{if $user}
	  {if $user['identity']=='xued'}
         <div  class="weui_tabbar_item" onclick="alert('您已被管理员禁言,如给您带来不便，请与管理员联系')">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 	
	  {else}
         <div  class="weui_tabbar_item" id="submit">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 	
	{/if}
	{else}
         <div class="weui_tabbar_item" onclick="alert('请先去个人中心完善信息哦...')" >
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 
	{/if}
 
 
         <div  class="weui_tabbar_item" id="mine">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui_tabbar_label">我的</p>
        </div>       
</div>
</nav>
{else}
        <div class="weui_tabbar_item weui_bar_item_on" id="index">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_tabbar_label">首页</p>
        </div> 

	
        
	{if $user}
	  {if $user['identity']=='xued'}
         <div  class="weui_tabbar_item" onclick="alert('您已被管理员禁言,如给您带来不便，请与管理员联系')">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 	
	  {else}
         <div  class="weui_tabbar_item" id="submit">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 	
	{/if}
	{else}
         <div class="weui_tabbar_item" onclick="alert('请先去个人中心完善信息哦...')">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 
	{/if}

         <div class="weui_tabbar_item" id="mine">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui_tabbar_label">我的</p>
        </div> 	
         
        </div>	
        </nav>
{/if}

<nav class="navbar navbar-default" style="margin-bottom: 0px;background-color:#00b26d;border-color:#00b26d;">
     <h2 style="color:#fff" align="center">万能老司机 </h2>
</nav>



<div class="banner" style="margin-bottom: 0px;overflow: hidden;position:relative;margin-left:-40px">
<ul>
{loop $img $k $v}

<li style="background-image: url({php echo $v['imgurl']}); background-size: 100% 100%;height:180px;float:left;padding:0px">
<a href="{php echo $v['arti']}" style="margin: 0px; display: block; width: 100%; height: 100%;"></a>
 </li>

 {/loop}

</ul>
</div>
<div class="weui_search_bar" id="search_bar" style="z-index:-2">
    <form class="weui_search_outer" action="" method="post">
        <div class="weui_search_inner">
            <i class="weui_icon_search"></i>
            <input type="search" class="weui_search_input" id="search_input" placeholder="搜索" name="Search" required/>
            <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
        </div>
        <label for="search_input" class="weui_search_text" id="search_text">
            <i class="weui_icon_search"></i>
            <span>搜索</span>
        </label>
    </form>
    <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
</div>


<div class="weui_grids">
{loop $modelres $k $v}
    <div id="grid" rel="{$v['typecode']}" class="weui_grid">
        <div class="weui_grid_icon">
            <img src="{$v['typeicon']}" alt="">
        </div>
        <p class="weui_grid_label">
                   {$v['typename']}
        </p>
    </div>
 {/loop} 
</div>


{if $Searchinfo AND $search}
{loop $Searchinfo $k $v}
 		 {if $v['privacy']==1 AND $k==0}
 				<div style="color:#00b26d">
 					<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;老司机推荐
 				</div> 
 		{else if $v['privacy']==0 AND $k==$first}
  				<div style="color:#00b26d">
 					<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;最新
 				</div> 
 		{/if}
<div class="weui_cells">
  <div class="tinfo" rel="{$v['jobid']}">
   	 <div class="weui_cell_hd">
   	<p> {$v['title']}</p> 
   	 <div align="right" style="margin-top:-20px">
   	    	<p style="color:red">悬赏:{$v['credit']}积分</p>
   	 </div>
   	 </div>             
         <div class="weui_cell_bd weui_cell_primary">
          {if $v['pic1'] || $v['pic2'] || $v['pic3']}  
           <div style="width:300px;height:80px;margin-top:20px;margin-bottom:10px">  
           		{if $v['pic1']}  
					<img src="{$v['pic1']}" alt="" style="width:100px;height:80px"/>
				{/if}
				{if $v['pic2']}
					<img src="{$v['pic2']}" alt="" style="width:100px;height:80px;margin-left:110px;margin-top:-105px">
				{/if}
				{if $v['pic3']}
					<img src="{$v['pic3']}" alt="" style="width:100px;height:80px;margin-left:230px;margin-top:-148px">
				{/if}				
		  </div>				
			{/if}
		  <br/>	 
		  <p>{$v['content']} </p> 
		  <br/>			
			<p  style="color:#333">发布方相关:@{$v['nickname']} </p>
			</div>
  </div>
</div> 
{/loop}
{/if}

{if $Groundtype AND $type}
{loop $Groundtype $k $v}
  {if $v['privacy']==1 AND $k==0}
 	<div style="color:#00b26d">
 		<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;老司机推荐
 	</div> 
  {else if $v['privacy']==0 AND $k==$first}
  	<div style="color:#00b26d">
 		<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;最新
	 </div> 
 {/if}
<div class="weui_cells">
  <div class="tinfo" rel="{$v['jobid']}">
   	 <div class="weui_cell_hd">
   	<p> {$v['title']}</p> 
   	 <div align="right" style="margin-top:-20px">
   	    	<p style="color:red">悬赏:{$v['credit']}积分</p>
   	 </div>
   	 </div>
               
         <div class="weui_cell_bd weui_cell_primary">
          {if $v['pic1'] || $v['pic2'] || $v['pic3']}  
           <div style="width:300px;height:80px;margin-top:20px;margin-bottom:10px">  
           		{if $v['pic1']}  
					<img src="{$v['pic1']}" alt="" style="width:100px;height:80px"/>
				{/if}
				{if $v['pic2']}
					<img src="{$v['pic2']}" alt="" style="width:100px;height:80px;margin-left:110px;margin-top:-105px">
				{/if}
				{if $v['pic3']}
					<img src="{$v['pic3']}" alt="" style="width:100px;height:80px;margin-left:230px;margin-top:-148px">
				{/if}				
		  </div>				
			{/if}
		  <br/>	 
		  <p>{$v['content']} </p> 
		  <br/>			
			<p  style="color:#333">发布方相关:@{$v['nickname']} </p>
			</div>
  </div>
</div>  
{/loop}
{/if}

{if $Ground AND !$type AND !$search}
{loop $Ground $k $v}
  {if $k>=($pageindex-1)*$pagesize && $k<($pageindex)*$pagesize}
  {if $v['privacy']==1 AND $k==0}
 <div style="color:#00b26d">
 <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;老司机推荐
 </div> 
 {else if $v['privacy']==0 AND $k==$first}
  <div style="color:#00b26d">
 <span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;最新
 </div> 
 {/if}
<div class="weui_cells">
  <div class="tinfo" rel="{$v['jobid']}">
   	 <div class="weui_cell_hd">
   	<p> {$v['title']}</p> 
   	 <div align="right" style="margin-top:-20px">
   	    	<p style="color:red">悬赏:{$v['credit']}积分</p>
   	 </div>
   	 </div>
               
         <div class="weui_cell_bd weui_cell_primary">
          {if $v['pic1'] || $v['pic2'] || $v['pic3']}  
           <div style="width:300px;height:80px;margin-top:20px;margin-bottom:10px">  
           		{if $v['pic1']}  
					<img src="{$v['pic1']}" alt="" style="width:100px;height:80px"/>
				{/if}
				{if $v['pic2']}
					<img src="{$v['pic2']}" alt="" style="width:100px;height:80px;margin-left:110px;margin-top:-105px">
				{/if}
				{if $v['pic3']}
					<img src="{$v['pic3']}" alt="" style="width:100px;height:80px;margin-left:230px;margin-top:-148px">
				{/if}				
		  </div>				
			{/if}
		  <br/>	 
		  <p>{$v['content']} </p> 
		  <br/>			
			<p  style="color:#333">发布方相关:@{$v['nickname']} </p>
			</div>
  </div>
</div> 
{/loop}
  {/if}

{$page}
{/if}


{if $bottom}
<p class="text-center"><a href="{php echo $bottom['linkURL']}">{$bottom['adminLable']}</a></p>
{/if} 
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</body>


<script>
require(['jquery'], function($){
	
	$(".tinfo").click(function(){
		var jobid=$(this).attr('rel')
        window.location.href="{php echo $this->createMobileUrl('ptjdetails');}"+"&jobid="+jobid;
	});
	
	$("#search_input").focus(function(){
		$("#search_bar").addClass('weui_search_focusing');
	});
	$("#search_input").blur(function(){
		$("#search_bar").removeClass('weui_search_focusing');
		if($("#search_input").val()){
			$("#search_text").hide();
		}else{
			$("#search_text").show();
		}
	});
	$("#search_cancel").click(function(){
		$("#search_show").hide();
		$("#search_input").val('');
	});
	$("#search_clear").click(function(){
		$("#search_show").hide();
		$("#search_input").val('');
	});	
	
	$('#submit').click(function(){
		$("#btmnav").hide();
		var mask=$("#mask");
		var actionsheet=$("#weui_actionsheet");
		actionsheet.addClass("weui_actionsheet_toggle");
		mask.show().addClass("weui_fade_toggle").one('click',function(){
			$("#btmnav").show();
			hideSheet(mask,actionsheet);
		});
		$("#actionsheet_cancel").one('click',function(){
			$("#btmnav").show();
			hideSheet($("#mask"),$("#weui_actionsheet"));
		});		
		actionsheet.unbind('transitionend').unbind('webkitTransitionEnd');
	    function hideSheet(mask, actionSheet) {
	    	actionSheet.removeClass('weui_actionsheet_toggle');
	        mask.removeClass('weui_fade_toggle');
	        actionSheet.on('transitionend', function () {
	            mask.hide();
	        }).on('webkitTransitionEnd', function () {
	            mask.hide();
	        })
	    }		
	});
			
	$('#mine').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjmyinfo');}";
	});
	$('#index').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjindex');}";
	});
	$(".weui_actionsheet_menu").children('div').click(function(){
		var value=$(this).attr('rel');
		location.href="{php echo $this->createMobileUrl('ptjpostinfo');}"+"&type="+value;
	});
	
	$(".weui_grid").click(function(){
		var value=$(this).attr('rel');
		location.href="{php echo $this->createMobileUrl('ptjindex');}"+"&typecode="+value;
	});
});
</script>
<script src="http://unslider.com/unslider.js"></script>      
</html>
{template 'common/footer'}