{template 'common/header'}
<html>

<link rel="stylesheet" href="./weui/dist/style/weui.min.css"/>
<link rel="stylesheet" href="./weui/dist/example/example.css"/>

<script type="text/javascript">
    sharedata = {
        title: "{$share['mainpage_title']}",
        desc: "{$share['mainpage_desc']}",
        imgUrl: "{$share['mainpage_imgurl']}",
        link:'http://www.wx7plus.com/index.php?i=1&c=entry&do=ptjindex&m=hypernet_iptj',
        success: function(){
          alert('分享成功!');
        }
      };
</script>

 <body style="background-color:#ededed">  
 <nav class="navbar navbar-default navbar-fixed-bottom" style="background:#00b26d">
  <div class="weui_tabbar">
       {if !$searchinfo}
        <div  class="weui_tabbar_item weui_bar_item_on" >
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_tabbar_label">首页</p>
        </div>       
 
	{if $user}
	  {if $user['identity']=='xued'}
         <div  class="weui_tabbar_item" onclick="alert('您已被管理员禁言,如给您带来不便，请与管理员联系')">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 	
	  {else}
         <div  class="weui_tabbar_item" id="submit">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 	
	{/if}
	{else}
         <div class="weui_tabbar_item" onclick="alert('请先去个人中心完善信息哦...')" >
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 
	{/if}
 
 
         <div  class="weui_tabbar_item" id="mine">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui_tabbar_label">我的</p>
        </div>       
</div>
</nav>
{else}
        <div class="weui_tabbar_item weui_bar_item_on" id="index">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_tabbar_label">首页</p>
        </div> 

	
        
	{if $user}
	  {if $user['identity']=='xued'}
         <div  class="weui_tabbar_item" onclick="alert('您已被管理员禁言,如给您带来不便，请与管理员联系')">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 	
	  {else}
         <div  class="weui_tabbar_item" id="submit">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 	
	{/if}
	{else}
         <div class="weui_tabbar_item" onclick="alert('请先去个人中心完善信息哦...')">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 
	{/if}

         <div class="weui_tabbar_item" id="mine">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui_tabbar_label">我的</p>
        </div> 	
         
        </div>	
        </nav>
{/if}

<nav class="navbar navbar-default" style="margin-bottom: 0px;background-color:#00b26d;border-color:#00b26d;">
     <h2 style="color:#fff" align="center">万能老司机 </h2>
</nav>



<div class="banner" style="margin-bottom: 0px;overflow: hidden;position:relative;margin-left:-40px">
<ul>
{loop $img $k $v}

<li style="background-image: url({php echo $v['imgurl']}); background-size: 100% 100%;height:180px;float:left;padding:0px">
<a href="{php echo $v['arti']}" style="margin: 0px; display: block; width: 100%; height: 100%;"></a>
 </li>

 {/loop}

</ul>
</div>
<div style="height:60px;background-color:#ededed">
<div style="margin-left:5%;margin-bottom:10px;width:90%;margin-top:0px">
<br/>
    <form action=" " method="post" class="form-inline" >
    <div class="input-group">
      <input type="text" class="form-control" placeholder="搜索...." style="width:100%" name="Ptjindex[Search]">
      <span class="input-group-btn">
			<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </span>
      </div>
      </form>
      
</div>
</div>


<div class="weui_grids">
    <a href="javascript:;" class="weui_grid">
        <div class="weui_grid_icon">
            <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui_grid_label">
                   招聘
        </p>
    </a>
    <a href="javascript:;" class="weui_grid">
        <div class="weui_grid_icon">
            <img src="./weui/dist/example/images/icon_nav_article.png" alt="">
        </div>
        <p class="weui_grid_label">
            	闲置/租房
        </p>
    </a>
    <a href="javascript:;" class="weui_grid">
        <div class="weui_grid_icon">
            <img src="./weui/dist/example/images/icon_nav_msg.png" alt="">
        </div>
        <p class="weui_grid_label">
            	问问
        </p>
    </a>    
</div>


{if $searchinfo AND $search}
{loop $searchinfo $k $v}
 		 {if $v['privacy']==1 AND $k==0}
 				<div style="color:#00b26d">
 					<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;老司机推荐
 				</div> 
 		{else if $v['privacy']==0 AND $k==$first}
  				<div style="color:#00b26d">
 					<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;最新
 				</div> 
 		{/if}
	<div class="list-group" style="margin-bottom:5px">
  		<a href="{php echo $this->createMobileUrl('ptjdetails',array('ground'=>$v,'openid'=>$openid));}" class="list-group-item active" style="background-color:#fff;border-color:#ededed">
   			 <h4 class="list-group-item-heading" style="background-color:#fff;color:#333">{$v['title']}</h4>     
         		<span class="badge" style="font-size:13px;background-color:#fff;color:#333">工资:{$v['salary']}元/天</span>       
 			<!-- img -->
   			 <br/>
				<p class="list-group-item-text" style="background-color:#fff;color:#333">发布方相关:@{$v['cname']}</p>
 		</a>

	</div> 
{/loop}
{/if}

{if $groundtype AND $type}
{loop $groundtype $k $v}
  {if $v['privacy']==1 AND $k==0}
 	<div style="color:#00b26d">
 		<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;老司机推荐
 	</div> 
  {else if $v['privacy']==0 AND $k==$first}
  	<div style="color:#00b26d">
 		<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;最新
	 </div> 
 	{/if}
	<div class="list-group" style="margin-bottom:5px">
 		 <a href="{php echo $this->createMobileUrl('ptjdetails',array('ground'=>$v,'openid'=>$openid));}" class="list-group-item active" style="background-color:#fff;border-color:#ededed">
   			 <h4 class="list-group-item-heading" style="background-color:#fff;color:#333">{$v['title']}</h4>
       
         		<span class="badge" style="font-size:13px;background-color:#fff;color:#333">工资:{$v['salary']}元/天</span>
        
   		 <p class="list-group-item-text" style="background-color:#fff;color:#333">地点:{$v['workplace']}</p>
   		 <br/>
		<p class="list-group-item-text" style="background-color:#fff;color:#333">发布方相关:@{$v['cname']} <!--span style="margin-left:25%">已报名:{$v['exists']}/{$v['mount']}</span--> </p>
 		 </a>
	</div> 
{/loop}
{/if}

{if $ground AND !$type AND !$search}
{loop $ground $k $v}
  {if $k>=($pageindex-1)*$pagesize && $k<($pageindex)*$pagesize}
  {if $v['privacy']==1 AND $k==0}
 <div style="color:#00b26d">
 <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;老司机推荐
 </div> 
 {else if $v['privacy']==0 AND $k==$first}
  <div style="color:#00b26d">
 <span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;最新
 </div> 
 {/if}
<div class="list-group" style="margin-bottom:0px">
  <a href="{php echo $this->createMobileUrl('ptjdetails',array('ground'=>$v,'openid'=>$openid));}" class="list-group-item active" style="background-color:#fff;border-color:#ededed">
    <h4 class="list-group-item-heading" style="background-color:#fff;color:#333">{$v['title']}</h4>
       
         <span class="badge" style="font-size:13px;background-color:#fff;color:#333;">工资:{$v['salary']}元/天</span>
        
    <p class="list-group-item-text" style="background-color:#fff;color:#333">地点:{$v['workplace']}</p>
    <br/>
<p class="list-group-item-text" style="background-color:#fff;color:#333">发布方相关:@{$v['cname']} <!--span style="margin-left:25%">已报名:{$v['exists']}/{$v['mount']}</span--> </p>
  </a>
</div> 
<br/>
  {/if}
{/loop}

{$page}
{/if}

<br/>
<br/>
<br/>
{if $bottom}
<p class="text-center"><a href="{php echo $bottom['linkURL']}">{$bottom['adminLable']}</a></p>
{/if} 
<br/>
<br/>
</body>


<script>
require(['jquery', 'util'], function($, util){
	$(function(){
		$('#searchbtn').click(function(){
			$.post("{php echo $this->createMobileUrl('Ptjindex');}",{searchinfo:$("#searchsth").val()},function(data,status){
				alert(data);
			});
		});	
	});
	
	$('#submit').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjpostinfo');}";
	});
	$('#mine').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjmyinfo');}";
	});
	$('#index').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjindex');}";
	});
	
});
</script>
 <script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://unslider.com/unslider.js"></script>      
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</html>
{template 'common/footer'}