{template 'common/header'}
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.js"></script>
<link rel="stylesheet" href="./weui/dist/style/weui.min.css"/>
<script type="text/javascript">
    sharedata = {
        title: "{$share['center_title']}",
        desc: "{$share['center_desc']}",
        imgUrl: "{$share['center_imgurl']}",
        link:'',
        success: function(){
          alert('分享成功!');
        }
      };
</script>
<html> 
  	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/ptj_normalize.css" />
	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/ptj_styles.css" />
	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/ptj_default.css" />  
<body style="background-color:#ededed">

<nav class="navbar navbar-default" style="background-color:#00b26d;border-color:#00b26d;">
     <h2 style="color:#fff" align="center">个人中心 </h2>
</nav>

	<div class="weui_tabbar">
        <div class="weui_tabbar_item " id="index">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_tabbar_label">首页</p>
        </div>

         <div  class="weui_tabbar_item" id="submit">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 	

         <div  class="weui_tabbar_item weui_bar_item_on" >
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui_tabbar_label">我的</p>
        </div> 
	</div>

<div style="margin-top:-20px">

{if !$user}	
<div class="weui_cells weui_cells_access" id="btn_login">
   <div class="weui_cell" >  
   	 <div class="weui_cell_hd">
   	 	 <img src="{php echo $src}" alt="icon" style="width:90px; height:90px; border-radius:50px; ">
   	 </div>
     <div class="weui_cell_bd weui_cell_primary">
     <p>{$nickname}</p>
     </div>
     <div class="weui_cell_ft" style="color:red">
             <i class="weui_icon_warn"></i>&nbsp;  去注册
     </div>
   </div>
 </div>
<br/>
	
{else}      
     {if $isworker==4}    
   <div class="weui_cells" >
   <div class="weui_cell" >  
   	 <div class="weui_cell_hd">
   	 	 <img src="{php echo $src}" alt="icon" style="width:90px; height:90px; border-radius:50px; ">
   	 </div>
     <div class="weui_cell_bd weui_cell_primary">
     	<p>{$user['name']}(小黑屋)</p>
     	<p style="font:10px;color:grey">ID:{$user['phone']}</p>
     </div>
   </div>
 </div>    
   {else}
  <div class="weui_cells" >
   <div class="weui_cell" >  
   	 <div class="weui_cell_hd">
   	 	 <img src="{php echo $src}" alt="icon" style="width:90px; height:90px; border-radius:50px; ">
   	 </div>
     <div class="weui_cell_bd weui_cell_primary">
     	<p>{$user['name']}</p>
     	<p style="font:10px;color:grey">ID:{$user['phone']}</p>
     </div>
   </div>
 </div>           
   {/if}
{/if}
</div>

{if !$user}

   <div class="weui_cells " style="margin-top:20px">
   		<div class="weui_cell weui_cells_access">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_owner_no">
   				<p><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我发布的</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			</div>   			
   		</div>
   		<div class="weui_cell weui_cells_access" id="btn_worker_no">
   			<div class="weui_cell_bd weui_cell_primary">
   				<p><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的消息</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			</div>   			
   		</div>
   		<div class="weui_cell ">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_credit_no">
   			   <p><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于积分</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			   <p>{$credit}</p>
   			</div>
   		</div>	
   		<div class="weui_cell weui_cells_access">
   		 	<div class="weui_cell_bd weui_cell_primary" id="btn_about">
   		 	     <p><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;功能介绍</p>
   		 	</div>
   			<div class="weui_cell_ft">   		
   			</div>   	   		 	
   		</div>
   </div>
    {else}
{if $isworker==4}

<div style="margin-left:5%;margin-top:100px">  
   <div class="weui_cells " >
   		<div class="weui_cell weui_cell_access">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_owner_ban">
   				<p><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我发布的</p>
   			</div>
   		</div>
   		<div class="weui_cell weui_cell_access" id="btn_worker_ban">
   			<div class="weui_cell_bd weui_cell_primary">
   				<p><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的消息<span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我发布的</p>
   			</div>
   		</div>
   		<div class="weui_cell ">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_credit">
   			   <p><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于积分</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			   <p>{$credit}</p>
   			</div>
   		</div>	
   		<div class="weui_cell">
   		 	<div class="weui_cell_bd weui_cell_primary" id="btn_about">
   		 	     <p><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;功能介绍</p>
   		 	</div>
   		</div>
   </div>
</div>
{else}

<div style="margin-top:10px">  
   <div class="weui_cells " >
   		<div class="weui_cell weui_cell_access">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_owner">
   				<p><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我发布的</p>
   			</div>
   		</div>
   		<div class="weui_cell weui_cell_access">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_worker">
   				<p><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的消息</p>
   			</div>
   		</div>
   		<div class="weui_cell ">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_credit">
   			   <p><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于积分</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			   <p>{$credit}</p>
   			</div>
   		</div>	
   		<div class="weui_cell">
   		 	<div class="weui_cell_bd weui_cell_primary" id="btn_about">
   		 	     <p><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;功能介绍</p>
   		 	</div>
   		</div>
   </div>
</div>

{/if}    
{/if}
<br/>
<br/>
{if $bottom}
<p class="text-center"><a href="{php echo $bottom['linkURL']}">{$bottom['adminLable']}</a></p>
{/if} 
<br/>
<br/>
<br/>

</body>

<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.js"></script>
<script type="text/javascript">

require(['jquery','util'],function($,util){
	$('#submit').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjpostinfo');}";
	});
	$('#index').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjindex');}";
	});
	$('#btn_login').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjperfect');}";
	});
	$('#btn_owner').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjmodel',array('id'=>'owner'));}";
	});
	$('#btn_worker').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjmodel',array('id'=>'worker'));}";
	});
	$("#btn_credit").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjpay',array('credit'=>$credit));}";
	});
	$("#btn_about").click(function(){
		window.location.href="{$url}";
	});
	$('#btn_owner_ban').click(function(){
		alert('还在小黑屋里哦~');
	});
	$('#btn_worker_ban').click(function(){
		alert('还在小黑屋里哦~');
	});
	$('#btn_owner_no').click(function(){
		alert('需要注册哦~');
	});
	$('#btn_worker_no').click(function(){
		alert('需要注册哦~');
	});
	$('#btn_credit_no').click(function(){
		alert('需要注册哦~');
	});
});


function confirm_disp(){
	     var r=confirm("真的要撤销咩/(ㄒoㄒ)/~~")
	     
	    if(r==true){
	      location.href="{php echo $this->createMobileUrl('ptjmyinfo',array('undowker'=>'on','myworkerbtn'=>'on'));}"
	      //尝试post
	    }   
	    else{
	    	return false;
	    }
}
</script>
</html>

{template 'common/footer'}

