{template 'common/header'}
<link rel="stylesheet" href="./weui/dist/style/weui.min.css"/>
<html> 
  	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/ptj_normalize.css" />
	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/ptj_styles.css" />
	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/ptj_default.css" />  
<body style="background-color:#ededed">


 <div id="actionSheet_wrap" >
    <div class="weui_mask_transition" id="mask"></div>
    <div class="weui_actionsheet" id="weui_actionsheet">
        <div class="weui_actionsheet_menu">
        {loop $modelres $k $v}
            <div class="weui_actionsheet_cell" rel="{$v['typecode']}">{$v['typename']}</div>
		{/loop}
        </div>
        <div class="weui_actionsheet_action">
            <div class="weui_actionsheet_cell" id="actionsheet_cancel">取消</div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom" id="btmnav">
	<div class="weui_tabbar ">
        <div class="weui_tabbar_item " id="index">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_tabbar_label">首页</p>
        </div>
{if !user}
         <div  class="weui_tabbar_item"  onclick="alert('先注册哦 ~')">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 	
{else}
         <div  class="weui_tabbar_item" id="submit">
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">发布</p>
        </div> 	
{/if}
         <div  class="weui_tabbar_item weui_bar_item_on" >
            <div class="weui_tabbar_icon">
                <img src="./weui/dist/example/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui_tabbar_label">我的</p>
        </div> 
	</div>
</nav>
<div style="margin-top:-20px">

{if !$user}	
<div class="weui_cells weui_cells_access" id="btn_login">
   <div class="weui_cell" >  
   	 <div class="weui_cell_hd">
   	    {if !$user['avatar']}
   	 	 	<img src="{$src}" alt="icon" style="width:60px; height:60px; ">
   	 	 {else}
			<img src="{$user['avatar']}" alt="icon" style="width:60px; height:60px; ">   	 	 	
   	 	 {/if}
   	 	 
   	 </div>
     <div class="weui_cell_bd weui_cell_primary">
     <p>{$nickname}</p>
     </div>
     <div class="weui_cell_ft" style="color:red">
             <i class="weui_icon_warn"></i>&nbsp;  去注册
     </div>
   </div>
 </div>
<br/>
	
{else}      
     {if $isworker==4}    
   <div class="weui_cells" >
   <div class="weui_cell" >  
   	 <div class="weui_cell_hd">
   	    {if !$user['avatar']}
   	 	 	<img src="{php echo $src}" alt="icon" style="width:90px; height:90px; border-radius:50px; ">
   	 	 {else}
			<img src="{php echo $user['avatar']}" alt="icon" style="width:90px; height:90px; border-radius:50px; ">   	 	 	
   	 	 {/if}
   	 </div>
     <div class="weui_cell_bd weui_cell_primary">
     	<p>{$user['name']}(小黑屋)</p>
     	<p style="font:10px;color:grey">ID:{$user['phone']}</p>
     </div>
   </div>
 </div>    
   {else}
  <div class="weui_cells weui_cells_access" id="edit_info">
   <div class="weui_cell " >  
   	 <div class="weui_cell_hd">
   	     {if !$user['avatar']}
   	 	 	<img src="{$src}" style="width:90px; height:90px; ">
   	 	 {else}
			<img src="{$user['avatar']}" alt="icon" style="width:90px; height:90px; ">   	 	 	
   	 	 {/if}
   	 </div>
     <div class="weui_cell_bd weui_cell_primary">
     	<p>&nbsp;&nbsp;&nbsp;{$user['name']}</p>
     	<p style="font:10px;color:grey">&nbsp;&nbsp;&nbsp;ID:{$user['phone']}</p>
     </div>
     <div class="weui_cell_ft">
     </div>
   </div>
 </div>           
   {/if}
{/if}
</div>

{if !$user}

   <div class="weui_cells " style="margin-top:20px">
   		<div class="weui_cell weui_cells_access">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_owner_no">
   				<p><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我发布的</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			</div>   			
   		</div>
   		
   		<div class="weui_cell weui_cells_access" id="btn_worker_no">
   			<div class="weui_cell_bd weui_cell_primary">
   				<p><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的消息</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			</div>   			
   		</div>

   		<div class="weui_cell weui_cells_access" id="btn_collect">
   			<div class="weui_cell_bd weui_cell_primary">
   				<p><span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的收藏</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			</div>   			
   		</div>
   		
   		<div class="weui_cell ">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_credit_no">
   			   <p><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于积分</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			   <p>{$credit}</p>
   			</div>
   		</div>	
   		<div class="weui_cell weui_cells_access">
   		 	<div class="weui_cell_bd weui_cell_primary" id="btn_about">
   		 	     <p><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;功能介绍</p>
   		 	</div>
   			<div class="weui_cell_ft">   		
   			</div>   	   		 	
   		</div>
   </div>
    {else}
{if $isworker==4}

<div style="margin-left:5%;margin-top:100px">  
   <div class="weui_cells " >
   		<div class="weui_cell weui_cell_access">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_owner_ban">
   				<p><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我发布的</p>
   			</div>
   		</div>
   		<div class="weui_cell weui_cell_access" id="btn_worker_ban">
   			<div class="weui_cell_bd weui_cell_primary">
   				<p><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的消息<span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我发布的</p>
   			</div>
   		</div>
   		
   		<div class="weui_cell weui_cells_access" id="btn_collect">
   			<div class="weui_cell_bd weui_cell_primary">
   				<p><span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的收藏</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			</div>   			
   		</div>   		
   		
   		<div class="weui_cell ">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_credit">
   			   <p><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于积分</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			   <p>{$credit}</p>
   			</div>
   		</div>	
   		<div class="weui_cell">
   		 	<div class="weui_cell_bd weui_cell_primary" id="btn_about">
   		 	     <p><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;功能介绍</p>
   		 	</div>
   		</div>
   </div>
</div>
{else}

<div style="margin-top:10px">  
   <div class="weui_cells " >
   		<div class="weui_cell weui_cell_access">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_owner">
   				<p><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我发布的</p>
   			</div>
   		</div>
   		<div class="weui_cell weui_cell_access">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_worker">
   				<p><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的消息</p>
   			</div>
   		</div>
   		
   		<div class="weui_cell weui_cells_access" id="btn_collect">
   			<div class="weui_cell_bd weui_cell_primary">
   				<p><span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的收藏</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			</div>   			
   		</div>
   		   		
   		<div class="weui_cell ">
   			<div class="weui_cell_bd weui_cell_primary" id="btn_credit">
   			   <p><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于积分</p>
   			</div>
   			<div class="weui_cell_ft">   		
   			   <p>{$credit}</p>
   			</div>
   		</div>	
   		<div class="weui_cell">
   		 	<div class="weui_cell_bd weui_cell_primary" id="btn_about">
   		 	     <p><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;功能介绍</p>
   		 	</div>
   		</div>
   </div>
</div>

{/if}    
{/if}
<br/>
<br/>
{if $bottom}
<p class="text-center"><a href="{php echo $bottom['linkURL']}">{$bottom['adminLable']}</a></p>
{/if} 
<br/>
<br/>
<br/>

</body>
<script type="text/javascript">

require(['jquery','util'],function($,util){

	$('#index').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjindex');}";
	});
	$('#btn_login').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjperfect');}";
	});
	$('#btn_owner').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjmodel',array('id'=>'owner'));}";
	});
	$('#btn_worker').click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjmodel',array('id'=>'worker'));}";
	});
	$("#btn_credit").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjpay',array('credit'=>$credit));}";
	});
	$("#btn_collect").click(function(){
		location.href="{php echo $this->createMobileUrl('ptjmodel',array('id'=>'collection'));}"
	});
	$("#btn_about").click(function(){
		window.location.href="{$url}";
	});
	$('#btn_owner_ban').click(function(){
		alert('还在小黑屋里哦~');
	});
	$('#btn_worker_ban').click(function(){
		alert('还在小黑屋里哦~');
	});
	$('#btn_owner_no').click(function(){
		alert('需要注册哦~');
	});
	$('#btn_worker_no').click(function(){
		alert('需要注册哦~');
	});
	$('#btn_credit_no').click(function(){
		alert('需要注册哦~');
	});
	$("#edit_info").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjeditprofile');}";
	});
	
	$('#submit').click(function(){
		$("#btmnav").hide();
		var mask=$("#mask");
		var actionsheet=$("#weui_actionsheet");
		actionsheet.addClass("weui_actionsheet_toggle");
		mask.show().addClass("weui_fade_toggle").one('click',function(){
			$("#btmnav").show();
			hideSheet(mask,actionsheet);
		});
		$("#actionsheet_cancel").one('click',function(){
			$("#btmnav").show();
			hideSheet($("#mask"),$("#weui_actionsheet"));
		});		
		actionsheet.unbind('transitionend').unbind('webkitTransitionEnd');
	    function hideSheet(mask, actionSheet) {
	    	actionSheet.removeClass('weui_actionsheet_toggle');
	        mask.removeClass('weui_fade_toggle');
	        actionSheet.on('transitionend', function () {
	            mask.hide();
	        }).on('webkitTransitionEnd', function () {
	            mask.hide();
	        })
	    }		
	});
	
	$(".weui_actionsheet_menu").children('div').click(function(){
		var value=$(this).attr('rel');
		location.href="{php echo $this->createMobileUrl('ptjpostinfo');}"+"&type="+value;
	});
});
</script>
<script type="text/javascript">
    sharedata = {
        title: "{$share['center_title']}",
        desc: "{$share['center_desc']}",
        imgUrl: "{$share['center_imgurl']}",
        link:'',
        success: function(){
          alert('分享成功!');
        }
      };
</script>
</html>

{template 'common/footer'}

