{template 'common/header'}

<link rel="stylesheet" href="./weui/dist/style/weui.min.css"/>
<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_safe weui_icon_safe_success"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">我的积分</h2>
        <p class="weui_msg_desc"><h2><b>{$credit}</b></h2></p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="{php echo $this->createMobileUrl('recharge');}" class="weui_btn weui_btn_primary">充值</a>
            <a href="{$shopUrl['url']}" class="weui_btn weui_btn_default">兑换</a>
        </p>
    </div>
</div>



