{template 'common/header'}
<html>
  	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/ptj_normalize.css" />
	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/ptj_styles.css" />
	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/ptj_default.css" />
    <link rel="stylesheet" href="./weui/dist/style/weui.min.css"/>	
<body>	  

<br/>
<div class="weui_cells weui_cells_form">

    <div class="weui_cell">
        <div class="weui_cell_hd">
            <label class="weui_label">姓名</label>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" id="name" placeholder="请输入真实姓名">
        </div>
    </div>


    <div class="weui_cell weui_cell_select weui_select_before">
        <div class="weui_cell_hd">
            <select class="weui_select" name="select" id="pretel">
                <option value="+86">+86</option>
                <option value="+80">+80</option>
                <option value="+84">+84</option>
                <option value="+87">+87</option>
            </select>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="tel" id="tel" placeholder="请输入联系方式">
        </div>
    </div>
    
    <br/>
    <br/>
    <div  class="weui_btn weui_btn_primary" id="s_btn">提交</div>
</div>

<div class="weui_dialog_alert" id="name_error_dia" style="display:none">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd">
          <strong class="weui_dialog_title">错误提示</strong>
      </div>
        <div class="weui_dialog_bd">姓名是必须的哦~</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary" id="know">我知道了</a>
        </div>
    </div>
</div>

<div class="weui_dialog_alert" id="phone_error_dia" style="display:none">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd">
          <strong class="weui_dialog_title">错误提示</strong>
      </div>
        <div class="weui_dialog_bd">电话是必须的哦~</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary" id="know">我知道了</a>
        </div>
    </div>
</div>


<div id="toast" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content">耶！注册成功!</p>
    </div>
</div>


<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <!-- :) -->
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">正在与服务器交互....</p>
    </div>
</div>


</body>
<script>

require(['jquery','util'],function($,util){
	$("#back").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjmyinfo');}";
	});
	
	$("#s_btn").click(function(){
		var name=$("#name").val();
		var tel=$("#pretel").val()+$("#tel").val();
		if(name===""){
			$("#name_error_dia").attr("style","display:block");
		}else if($("#tel").val()===""){
			$("#tel_error_dia").attr("style","display:block");
		}else{
			$("#loadingToast").attr("style","display:block");
		//alert(tel);
			$.ajax({
				url:"{php echo $this->createMobileUrl('ptjperfect')}",
				method:"POST",
				data:{
					name:name,
					phone:tel
				}
				})
				.done(function(){
					$("#loadingToast").attr("style","display:none");
					$("#toast").attr("style","display:block");
					setTimeout(function(){
						window.location.href="{php echo $this->createMobileUrl('ptjmyinfo');}";
					},1000);
				});
		}
	});
	
	$("#know").click(function(){
		$("#name_error_dia").attr("style","display:none");
		$("#tel_error_dia").attr("style","display:none");
	});
});

function click_a(Ifcompany)
{
    if(document.getElementById(Ifcompany).style.display != "block")
    {
        document.getElementById(Ifcompany).style.display = "block";
    }
}
function click_orgin(Ifcompany)
{
    if(document.getElementById(Ifcompany).style.display != "none")
    {
        document.getElementById(Ifcompany).style.display = "none";
    }
}

</script>


</html>