{template 'common/header'}
<style>
	body{background:#d2e6e9;}
	/*手机积分充值*/
	.charge select{position:absolute;}
	.charge .panel-body span input{position:absolute; width:150px; height:30px; top:2px; border:none; left:42px; z-index:10; padding-left:10px; outline:none;}
	.charge.panel{margin:.5em; border:none;}
	.charge.panel-info>.panel-heading {background: -webkit-gradient(linear, 0 0, 100% 0, from(#ebebeb), to(#f3f9fa), color-stop(30%, #f5f9f9)); color:#666666; border:none;}
	a{color:#666666;}a:hover{color: #3ebacc;}
	.charge .btn.btn-primary{background: #56c6d6; color: #FFF; border: 0;}
	.charge i{display:inline-block; width:15px; height:15px; text-align:center; line-height:15px;}
</style>
<div class="charge panel panel-info">
	<div class="panel-heading">
		<h4>积分充值</h4>
	</div>
	<div class="panel-body">
		<form name="theform" method="get" role="form" id="form1">
			<input type="hidden" name="c" value="entry" />
			<input type="hidden" name="m" value="meepo_credit1" />
			<input type="hidden" name="i" value="{$_W['uniacid']}" />
			<input type="hidden" name="do" value="index" />



			<input type="hidden" name="token" value="{$_W['token']}">
			<br/>
			<br/>
			<p class="text-center" style="font-size:16px">快速充值通道</p>
			<br/>
			<div style="margin-left:2%">
			<div  class="text-center">

            <a type="button" class="btn btn-default btn-lg" href="{php echo $this->createMobileUrl('recharge',array('money'=>150,'moneySe'=>150,'token'=>$_W['token']));}" role="button" style="margin-right:4%"><b>150积分</b></a>
			<a type="button" class="btn btn-default btn-lg" href="{php echo $this->createMobileUrl('recharge',array('money'=>300,'moneySe'=>300,'token'=>$_W['token']));}" role="button" style="margin-right:4%"><b>300积分</b></a>
			</div>
			<br/>
			<br/>
			<div  class="text-center">
            <a type="button" class="btn btn-default btn-lg" href="{php echo $this->createMobileUrl('recharge',array('money'=>500,'moneySe'=>500,'token'=>$_W['token']));}" role="button" style="margin-right:4%"><b>500积分</b></a>
			<a type="button" class="btn btn-default btn-lg" href="{php echo $this->createMobileUrl('recharge',array('money'=>1000,'moneySe'=>1000,'token'=>$_W['token']));}" role="button" style="margin-right:4%"><b>1000积分</b></a>
			</div>
			<br/>
			<br/>
			<div class="text-center" style="font-size:20px;color:red">

			<br/>
			<br/>
			</div>
</div>

			
		</form>
	</div>
</div>
<script>
	require(['jquery', 'util'],function($, u){
		$('#moneySe').change(function(){
			var money = $('#moneySe').val();
			if(parseFloat(money) > 0){
				$('#money').val($('#moneySe').val());
			} else {
				$('#money').val('');
			}
		});
		$('#form1').submit(function(){
			var money = parseFloat($('#money').val().trim());
			if(isNaN(money)) {
				u.message('请输入正确的充值金额', '', 'error');
				return false;
			}
		});
	});
</script>



