{template 'common/header'}
<html>
<link rel="stylesheet" href="./weui/dist/style/weui.min.css"/>
<body style="background-color:#ededed">



<div style="margin-top:80px">
{if $OwnerEx}
{loop $OwnerEx $k $v}
{if !$v['vis']}
<div class="list-group" style="margin-bottom:6px">
  <a href="{php echo $this->createMobileUrl('ptjdetails',array('openid'=>$openid,'jobid'=>$v['jobid'],'flag'=>2));}" class="list-group-item active" style="background-color:#fff;color:#333;border-color:#ededed">
    <h4 class="list-group-item-heading" style="background:#fff;color:#333">发布相关</h4>
         <span class="badge"  style="background:#fff;color:#333">已结束</span>
    <p class="list-group-item-text" style="background:#fff;color:#333">{$v['title']}</p>
  </a>
</div> 
{else}
<div class="list-group"  style="margin-bottom:6px">
  <a href="{php echo $this->createMobileUrl('ptjdetails',array('openid'=>$openid,'jobid'=>$v['jobid'],'flag'=>2));}" class="list-group-item active" style="background-color:#fff;color:#333;border-color:#ededed">
    <h4 class="list-group-item-heading" style="background:#fff;color:#333">发布相关</h4>
         <span class="badge" style="background:#fff;color:#333">正在进行...</span>
    <p class="list-group-item-text" style="background:#fff;color:#333">{$v['title']}</p>
  </a>
</div> 
{/if}
{/loop}

{else if $wEx}
{loop $wEx $k $v}
{if $v['status']==1 AND $v['vis']==1}
<div class="list-group">
  <a href="#" class="list-group-item active" style="background-color:#fff;color:#333;border-color:#ededed">
    <h4 class="list-group-item-heading" style="background:#fff;color:#333">兼职相关</h4>
         <span class="badge" style="background:#fff;color:#333">正在进行...</span>
    <p class="list-group-item-text" style="background:#fff;color:#333">{$v['title']}</p>
	{if $v['cname']}
	<p class="list-group-item-text" style="background:#fff;color:#333">来自:@{$v['cname']}</p>
	{else}
	<p class="list-group-item-text" style="background:#fff;color:#333">来自:@{$v['name']}</p>
	{/if}
  </a>
</div> 
{else if $v['status']==1 AND $v['vis']==0}
<div class="list-group">
  <a href="#" class="list-group-item active" style="background-color:#fff;color:#333;border-color:#ededed">
    <h4 class="list-group-item-heading" style="background:#fff;color:#333">兼职相关</h4>
         <span class="badge"  style="background:#fff;color:#333">已完成</span>
    <p class="list-group-item-text" style="background:#fff;color:#333">{$v['title']}</p>
	{if $v['cname']}
	<p class="list-group-item-text" style="background:#fff;color:#333">来自:@{$v['cname']}</p>
	{else}
	<p class="list-group-item-text" style="background:#fff;color:#333">来自:@{$v['name']}</p>
	{/if}
  </a>
</div> 
{else if $v['status']==0}
<div class="list-group">
  <a href="#" class="list-group-item active" style="background-color:#fff;color:#333;border-color:#ededed">
    <h4 class="list-group-item-heading" style="background:#fff;color:#333">兼职相关</h4>
         <span class="badge" style="background:#fff;color:#333">未审核</span>
    <p class="list-group-item-text" style="background:#fff;color:#333">{$v['title']}</p>
	{if $v['cname']}
	<p class="list-group-item-text" style="background:#fff;color:#333">来自:@{$v['cname']}</p>
	{else}
	<p class="list-group-item-text" style="background:#fff;color:#333">来自:@{$v['name']}</p>
	{/if}
  </a>
</div>
{/if}
{/loop}
{else if $Coll}
	{loop $Coll $k $v}
	<p style="font-size:18px">#{$k}:</p>
<div class="weui_cells" style="margin-top:5px">
  <div class="tinfo" rel="{$v['jobid']}">
   	 <div class="weui_cell_hd">
   	<p> {$v['title']}</p> 
   	 </div>              
         <div class="weui_cell_bd weui_cell_primary">
          {if $v['pic1'] || $v['pic2'] || $v['pic3']}  
           <div style="width:300px;height:80px;margin-top:20px;margin-bottom:10px">  
           		{if $v['pic1']}  
					<img src="{$v['pic1']}" alt="" style="width:100px;height:80px"/>
				{/if}
				{if $v['pic2']}
					<img src="{$v['pic2']}" alt="" style="width:100px;height:80px;margin-left:110px;margin-top:-105px">
				{/if}
				{if $v['pic3']}
					<img src="{$v['pic2']}" alt="" style="width:100px;height:80px;margin-left:230px;margin-top:-148px">
				{/if}				
		  </div>				
			{/if}
		  <br/>	 
		  <p>{$v['content']} </p> 
		  <br/>			
			</div>
  </div>
</div>  		
	{/loop}
{/if}
</div>
</body>
<script>
require(['jquery'],function($){
	$("#back").click(function(){
		location.href="{php echo $this->createMobileUrl('ptjmyinfo');}";
	});
	$(".tinfo").click(function(){
		var jobid=$(this).attr('rel');
        window.location.href="{php echo $this->createMobileUrl('ptjdetails');}"+"&jobid="+jobid;
	});
});
</script>
</html>