{template 'common/header'}
<html>
<body style="background-color:#ededed">
{if $flag==1}
<nav class="navbar navbar-default navbar-fixed-top" style="background:#00b26d">
   <div class="container-fluid">
   <div style="width:30%;margin-top:10px">
    <div id="mback" style="color:white;font-size:20px"><span class="glyphicon glyphicon-chevron-left"></span><b>&nbsp;返回</b></div>
    </div> 
    <div style="margin-top:-36px">   
      <ul class="nav navbar-nav" style="text-align:center">
        <p style="color:white;font-size:20px">求职者名单</p> 
      </ul>
      </div>    
  </div>
</nav>
{else}
<nav class="navbar navbar-default navbar-fixed-top" style="background:#00b26d">
   <div class="container-fluid">
   <div style="width:30%;margin-top:10px">
    <div id="dback"  style="color:#fff;font-size:20px"><span class="glyphicon glyphicon-chevron-left"></span><b>&nbsp;返回</b></div>
    </div> 
    <div style="margin-top:-36px">   
      <ul class="nav navbar-nav" style="text-align:center">
        <p style="font-size:20px;color:#fff">求职者名单</p> 
      </ul>
      </div>    
  </div>
</nav>
{/if}
{if $Wkinfo}
 <div style="width:40%;margin-left:70%;margin-top:60px;">
 	<button id="a_admit" class="btn btn-success" >全部录用</button>
 </div>
 {loop $Wkinfo $k $v}
  <div class="btn-group btn-group-justified" id="info_w" rel="{$v['wopenid']}" style="height: 60px;">
  <div class="btn-group " >
    <div style="border-style:solid; border-width:1px; border-color:#D3D3D2">
    <div style="margin-top:10px">
    <a href="{php echo $this->createmobileUrl('ptjworkerindex',array('ground'=>$ground,'exists'=>$exists,'wopenid'=>$v['wopenid']));}" style="color:black;font-size:18px;">
    &nbsp;&nbsp;&nbsp; {$v['wkname']}&nbsp;{$v['wkphone']}
    </a>
    </div>
     {if !$v['status']}
    <div style=" height: 10px;">
    	 <button id="admit" class="btn btn-default" style="width:20%;margin-left:70%;margin-top:-45px">录用</button>
    	      <p id="admitted" style="display:none"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;已录用</p>
    </div>
    {else}
     <div style="margin-top:-20px;margin-left:70%">
     <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;已录用</p>
    </div>   
    {/if}     
    </div>
  </div>
</div>
{/loop}
{else}
<div class="jumbotron" style="margin-top:60px;background-color:#fff">
  <p style="color:#333">(空空荡荡~~~)你这里怎么没人来啊？要不试试撤掉 然后<b>加点薪水</b>什么的</p>
</div>
{/if}
<div style="margin-top:20px" id="stop">
<button  class="btn btn-danger text-center" style="width:100%">终止招聘</button>
</div>

<br>
<br>
</body>
<script>
require(['jquery'],function($){
	$("#mback").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjmodel');}";
	});
	$("#dback").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjdetails',array('jobid'=>$ground['jobid']));}";		
	});
	$("#a_admit").click(function(){
		$.ajax({
			url:"{php echo $this->createMobileUrl('ptjworkerinfo');}",
			method:"POST",
			data:{
				jobid:'{$ground['jobid']}',
				abutton:'on',
			}
		})
		.done(function(data){
			var obj=jQuery.parseJSON(data);
			if(obj.message==='success'){
				alert('全部录用完毕');
			}else if(obj.message==='fail'){
				alert('录用失败');
			}
		});
	});
	
	$("#admit").click(function(){
		var tid=$("#info_w").attr('rel');
		$.ajax({
			url:"",
			method:"POST",
			data:{
				wopenid:tid,
				jobid:'{$ground['jobid']}',
				ebutton:'on',
			}
		})
		.done(function(data){
			var obj=jQuery.parseJSON(data);
			if(obj.message==='w_success'){
				$("#admit").hide();
				$("admitted").show();
				alert('招募成功~');
			}else if(obj.message==='w_fail'){
				alert('招募失败~');
			}
		});
	});
	$("#stop").click(function(){
		location.href="{php echo $this->createMobileUrl('ptjworkerinfo',array('jobid'=>$ground['jobid'],'sbutton'=>'on'));}";
	});
});
</script>
</html>