{template 'common/header'}
<html>
<link rel="stylesheet" href="./weui/dist/style/weui.min.css"/>
<body style="background-color:#ededed">

{if $Wkinfo}
 <div style="width:40%;margin-left:50%;">
 	<button id="a_admit"  class="weui_btn weui_btn_primary" >全部录用</button>
 </div>
  <div class="weui_cells_title">报名人数</div>

 {loop $Wkinfo $k $v}
   <div class="weui_cells">
 <div class="info_w">
    <div class="weui_cell" >
        <div class="weui_cell_bd weui_cell_primary">
            <p> &nbsp;&nbsp; {$v['wkname']}&nbsp;{$v['wkphone']}</p>
        </div>
        <div class="weui_cell_ft">
     {if !$v['status']}
     <div class="admit"  rel="{$v['wopenid']}">
    	 <button id="admit" class="weui_btn weui_btn_plain_primary" >录用</button>
    	 </div>
    	      <p id="admitted" style="display:none"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;已录用</p>

    {else}
     <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;已录用</p>
    {/if}   
        </div>
    </div>
 </div>
 </div>
{/loop}

{else}
<div class="jumbotron" style="background-color:#fff">
  <p style="color:#333">(空空荡荡~~~)你这里怎么没人来啊？</p>
</div>
{/if}
<br/>
<div style="margin-top:20px" id="stop">
<button  class="weui_btn weui_btn_warn text-center" style="width:100%">立即终止</button>
</div>

<br>
<br>

<div id="admit_s" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content">招募完成</p>
    </div>
</div>


<div class="weui_dialog_alert" style="display:none" id="admit_f">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd">
          <strong class="weui_dialog_title">老司机提醒</strong>
      </div>
        <div class="weui_dialog_bd">录用失败</div>
        <div class="weui_dialog_ft">
            <div id="admit_f" class="weui_btn_dialog primary">确定</div>
        </div>
    </div>
</div>

<div id="toast_s" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content">招募完成</p>
    </div>
</div>

<div id="toast_f" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content">招募失败</p>
    </div>
</div>

<div id="toast_stop" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content">任务取消成功</p>
    </div>
</div>

<div id="toast_error" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content">任务出现错误</p>
    </div>
</div>
</body>
<script>
require(['jquery'],function($){
	$("#mback").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjmodel');}";
	});
	$("#dback").click(function(){
		window.location.href="{php echo $this->createMobileUrl('ptjdetails',array('jobid'=>$ground['jobid']));}";		
	});
	$("admit_s").click(function(){
		$("admit_s").hide();
	});
	$("admit_f").click(function(){
		$("admit_f").hide();
	});	
	$("#a_admit").click(function(){
		$.ajax({
			url:"{php echo $this->createMobileUrl('ptjworkerinfo');}",
			method:"POST",
			data:{
				jobid:'{$ground['jobid']}',
				abutton:'on',
			}
		})
		.done(function(data){
			var obj=jQuery.parseJSON(data);
			if(obj.message==='success'){
				$("#admit_s").show();
				setTimeout(function(){
					$("#admit_s").hide();
				},1000);
			//	alert('全部录用完毕');
			}else if(obj.message==='fail'){
				$("#admit_f").show();
				//alert('录用失败');
			}
		});
	});
	
	$(".admit").click(function(){
		var tid=$(".admit").attr('rel');
		$.ajax({
			url:"",
			method:"POST",
			data:{
				wopenid:tid,
				jobid:'{$ground['jobid']}',
				ebutton:'on',
			}
		})
		.done(function(data){			
			var obj=jQuery.parseJSON(data);

			if(obj.message==='w_success'){
				$("#admit").hide();
				$("#admitted").show();
				$("#toast_s").show();
				setTimeout(function(){
					$("#toast_s").hide();
				},1000);
				//alert('招募成功~');
			}else if(obj.message==='w_fail'){
				$("#toast_f").show();
				setTimeout(function(){
					$("#toast_f").hide();
				},1000);				
			//alert('招募失败~');
			}

		});
	});
	$("#stop").click(function(){
		$.ajax({
			url:"{php echo $this->createMobileUrl('ptjworkerinfo')}",
			method:"POST",
			data:{
				jobid:"{$ground['jobid']}",
				sbutton:'on',
			}
		})
		.done(function(data){
			var obj=jQuery.parseJSON(data);
			if(obj.message==='success_stop'){
				$("#toast_stop").show();	
			//	alert('终止成功');
				location.href="{php echo $this->createMobileUrl('ptjindex');}";
			}else{
				$("#toast_error").show();	
			//	alert('好像哪里出现错误了');
				location.href="{php echo $this->createMobileUrl('ptjindex');}"				
			}
		});
		//location.href="{php echo $this->createMobileUrl('ptjworkerinfo',array('jobid'=>$ground['jobid'],'sbutton'=>'on'));}";
	});
});
</script>
</html>